<h1>Task Manager</h1>
<hr>
<h3>New Task</h3>
<form method="post">
	<label for="">Task :</label>
	<input type="text" name="txtTaskName" id="">
	<input type="submit" value="Save">
	<input type="reset" value="Cancel">
</form>